@font-face {
    font-family: 'MonsterCookies'; /* Font family name */
    src: url('MonsterCookies-Regular.otf') format('woff2'), /* Path to font file */
         url('MonsterCookies-Regular.otf') format('woff');
    /* Add more src lines if you have additional font formats */
}



/* CSS for shop.css */

#Title {
    color: lightblue;
    font-size: 60px;
}
#Coins {
    color: lightblue;
    font-size: 60px;

}
#profile {
    color: white;
}
body { 
    background-color: rgb(58, 78, 191);
    font-family: 'MonsterCookies';
  }

#todoIsland {
    color:bisque;
    display: flex;
    justify-content: center;
    font-size: 115px;
}
.animalContainer {
    display: flex;
    background-color: rgb(154, 154, 183);
    color: rgb(69, 12, 83);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    flex-wrap: wrap;
}
.card {
    font-size: 20px;
    width: 250px;
    background-color: rgb(42, 154, 205); /* Set the background color here */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center;
    width: 250px;
    margin: 20px;
    margin-top: 15px;
    text-align: center;
    height: 450px;
    padding: 10px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow here */
    overflow: hidden;
}
img {
    height: auto;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #FD84F1;
    border-radius: 8px;
}

#todoList {
    list-style-type: circle;
    padding: 0;
    align-items: center;
  }

  #todoList li {
    margin-bottom: 10px;
    align-items: center;
  }

.navList {
    display: flex;
    align-items: center;
    background-color: rgb(58, 78, 191);
}

#ToDoHead {
    color: lightblue;
    font-size: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskAdd {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

#todoList {
    color: white;
    font-size: 30px;
}

.addFriend {
    /* CSS code for styling the button */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 20px; /* Adjust font size as needed */
    background-color: #4CAF50; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: 'MonsterCookies';
}

/* Hover effect */
.addFriend:hover {
    background-color: #45a049; /* Darken background color on hover */
}

.navShop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Arrow {
    background-color: rgb(58, 78, 191);
    opacity: 1.0;
}
p {
    margin-bottom: 5px;

}

#island {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#pandaPic {
    position: absolute;
    top: 470px;
    left: 600px;
    background-color: transparent;
    /* opacity: 0;  */
    /* display: "none"; */
    visibility: hidden;
}
#islandPicture {
    margin-top: 50px;
    background-color: rgb(58, 78, 191);
}
#dogPic {
    position: absolute;
    top: 550px;
    left: 450px;
    background-color: transparent;
    /* opacity: 0;  */
    /* display: "none"; */
    visibility: hidden;
}
#catPic {
    position: absolute;
    top: 620px;
    left: 300px;
    background-color: transparent;
    visibility: hidden;
}
#daisyPic {
    position: absolute;
    top: 500px;
    left: 280px;
    background-color: transparent;
    visibility: hidden;
    size-adjust: 75%;
}
#sunflowerPic {
    position: absolute;
    top: 525px;
    left: 300px;
    background-color: transparent;
    visibility: hidden;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    color: lightblue;
    justify-items: center;
    height: 100px;
    color: transparent;
}
#listimg {
    background-color: transparent;
    padding-top: 40px;
}
#listButton {
        padding: 10px 20px; /* Adjust padding as needed */
        font-size: 20px; /* Adjust font size as needed */
        color: rgb(11, 62, 79); /* Set text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Add border radius for rounded corners */
        cursor: pointer; /* Change cursor to pointer on hover */
        font-family: 'MonsterCookies'; /* Use custom font */
    }

    #taskInput {
        padding: 10px 20px; /* Adjust padding as needed */
        margin-right: 10px;
        font-size: 20px; /* Adjust font size as needed */
        /* color: white; Set text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Add border radius for rounded corners */
        cursor: pointer; /* Change cursor to pointer on hover */
        font-family: 'MonsterCookies'; /* Use custom font */
    }
    
    /* Hover effect */
